---
---

/* universal body */
html {
    height: 100%;
}

body {
    height: 100%;
    padding-top: 80px;
}

/* navbar top */
.navbar.navbar-default.navbar-fixed-top {
    background-color: #35404F;
    height: 80px;
}

.navbar.navbar-default.navbar-fixed-top a {
    color: #FFF;
    margin-top: 10px;
    text-transform: uppercase;
    font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 20px;
}

.navbar.navbar-default.navbar-fixed-top a:hover,
.navbar.navbar-default.navbar-fixed-top a:active,
.navbar.navbar-default.navbar-fixed-top a:focus {
    outline: 0;
    color: #E45F56;
}

/* intro */
.container-fluid.intro {
    background-color: #4AAAA5;
    text-align: center;
    height: 80%;
}


.container-fluid.intro img {
    display: block;
    margin: 0 auto;
    margin-bottom: 30px;
    margin-top: 50px;
    /* circle border */
            border-radius: 50%;
    -webkit-border-radius: 50%;
       -moz-border-radius: 50%;
}

.container-fluid.intro span {
    display: block;
    text-transform: uppercase;
    font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 24px;
    color: #FFF;
}

.container-fluid.intro span a {
    color: #FFF;
}

.container-fluid.intro span a:hover,
.container-fluid.intro span a:active,
.container-fluid.intro span a:focus {
    outline: 0;
    color: #A3D39C;
    text-decoration: none;
}

hr.star-light, hr.star-dark {
    margin: 20px auto 20px;
    padding: 0;
    max-width: 250px;
    border-top: solid 5px;
    border-color: #FFF;
    text-align: center;
}

hr.star-light:after, hr.star-dark:after {
    content: "\f005";
    display: inline-block;
    position: relative;
    top: -.8em;
    padding: 0 .25em;
    font-family: FontAwesome;
    font-size: 2em;
    color: #FFF;
    background-color: #4AAAA5;
}

hr.star-dark:after {
    content: "\f005";
    display: inline-block;
    position: relative;
    top: -.8em;
    padding: 0 .25em;
    font-family: FontAwesome;
    font-size: 2em;
    color: #FFF;
    background-color: #4AAAA5;
}

hr.star-dark {
    border-color: #35404F;
}

hr.star-dark:after {
    color: #35404F;
    background-color: #FFF;
}


/* work */
.container-fluid.work h2 {
    text-transform: uppercase;
    font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 28px;
    color: #35404F;
}

.container-fluid.work a:hover,
.container-fluid.work a:active,
.container-fluid.work a:focus {
    outline: 0;
    text-decoration: none;
}

.container-fluid.work img {
    display: block;
    margin: 0 auto;
    border: solid 1px;
    border-color: #35404F;
}

.container-fluid.work .row {
    margin-bottom: 50px;
}